<!DOCTYPE html>
<html lang="it">

<link rel="stylesheet" href="/static/style.css">

<body>
    <h1>Cerca</h1>

    <form method="GET">

        <p>{{ form.cap.label }} {{ form.cap }}</p>
        <p>{{ form.umarell.label }} {{ form.umarell }}</p>
        <p>{{ form.cantieri.label }} {{ form.cantieri }}</p>
        <button type="submit">Cerca</button>
    </form>

    {% if cantieri %}
    <h2>Cantieri</h2>
    <table>
        <thead>
            <tr>
                <th>Indirizzo</th>
                <th>CAP</th>
            </tr>
        </thead>
        {%for c in cantieri %}
        <tbody>
            <td>{{c.indirizzo}}</td>
            <td>{{c.cap}}</td>
        </tbody>
        {%endfor%}
    </table>
    {%endif%}


    {% if umarell %}
    <h2>Umarell</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>CAP</th>
            </tr>
        </thead>
        {%for u in umarell%}
        <tbody>
            <td> {{u.nome}}</td>
            <td> {{u.cognome}}</td>
            <td>{{u.cap}}</td>
        </tbody>
    </table>
    {%endfor%}
    {%endif%}
</body>

</html>
